.titulo{
    font-size: 30px;
    font-variant: small-caps;
    border: 1px solid black;
    border-collapse: collapse;
    border-color: crimson;
}

.border{
    border: 1px solid black;
    border-collapse: collapse;
    border-color: crimson;
    text-align: center;

}
